.circles {
    display: flex;
    padding-right: 0px 8px;
}

.circle {
    width: 14px;
    height: 14px;
    border: 1px solid white;
    background-color: green;
    border-radius: 50%;
    margin: 0px 1px;
}
